body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 58, 58);
}
.header {
    color: whitesmoke;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 20px;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 100px;
    border-radius: 20px;
}
.footer {
    position: fixed;
    align-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px;
    height: 30px;
    background-color: darkslategrey;
    color: whitesmoke;
}